[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

certifi = "==2022.12.7"
chardet = "==3.0.4"
idna = "==2.6"
requests = "==2.18.4"
telepot = "==12.6"
"urllib3" = "==1.22"
"psycopg2-binary" = "*"


[dev-packages]

